{% extends "base.html" %}

{% block title %}
Grocery Store - Home
{% endblock %}

{% block body %}
<!-- Main Store Body -->

<div class="container" style="margin-bottom: 50px;">
  <h3>Add Product</h3>
  <form class="form" action="/add-product" method="GET" enctype="multipart/form-data">
    <div style="display: flex; flex-direction: column; width: 300px;">
      <input style="margin-bottom: 2.5px;" type="text" name="product_name" placeholder="Product name" oninput="checkFields('{{products}}')" />
      <div id="categories" style="margin-bottom: 2.5px;">
        <select id="categorySelect" name="product_category" onchange="checkFields('{{products}}')" style="height: 26px; width: 100%;">
          {% for i in range(categoriesLen) %}
            {% if i == 0 %}
              <option value="">Select Category</option>
            {% else %}
              <option value="{{categories[i]["category_name"]}}">{{categories[i]["category_name"]}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <input style="margin-bottom: 2.5px;" type="number" step="0.01" min="0" value="0" name="product_price" placeholder="Price" oninput="checkFields('{{products}}')" />
      <div style="display: flex; flex-direction: column; width: 100%;">
        <label for="fileInput">Upload picture</label>
        <input type="file" id="fileInput" name="product_picture" placeholder="load picture" />
      </div>
      <div style="display: flex; margin-top: 25px;">
        <button disabled type="submit" id="addProductButton" class="btn btn-primary" data-dismiss="modal">Add product</button>
      </div>
    </div>
  </form>
</div>
</main>
<script>
  // Function to check if all input fields are filled
    function checkFields(products) {
      existingProducts = products.split(",")
      var inputs = document.querySelectorAll('input[type="text"]');
      var addProductButton = document.getElementById('addProductButton');

      // Check if all input fields are not empty
      //var allFilled = Array.from(inputs).every(function(input) {
      //  if (input["name"] == "product_name") {
      //    return input.value.trim() !== '';
      //  }
      //});

      // Check if product_name already exists
      var productInput;
      var inputFields = Array.from(inputs).every(function(input) {
        if (input["name"] == "product_name") {
          productInput = input;
        } 
      })

      var productNameExists = false;

      if ((productInput.value.trim() !== '') && (existingProducts.indexOf(productInput.value.trim()) !== -1)) {
        productNameExists = true;
      }

      var selectedOption = document.getElementById("categorySelect").value;
      var categorySelected = true;
      if (selectedOption === "") {
        categorySelected = false;
      }

      // Enable/disable the confirm button based on the result
      //addProductButton.disabled = !allFilled || productNameExists || !categorySelected;
      addProductButton.disabled = productNameExists || !categorySelected;
    } 

</script>
</body>

{% endblock %}