<footer style="position: relative; bottom: 0px; width: 100%; background-color: #bac; padding-left: 20px; padding-right: 20px;">
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <div style="display: flex; justify-content: center;"><b>Contact details:</b><br></div>
                <div>116 W South St</div>
                <div>Warrensburg</div>
                <div>MO 64093</div>
            </div>
            <div>
                <div style="display: flex; justify-content: center;"><b>Pay securely</b><br></div>
                <div><img src="../static/pay.png" alt="" /></div>
            </div>
            <div>
                <div style="display: flex; justify-content: center;"><b>Available on App Store or Play Store</b><br></div>
                <div>
                    <img src="../static/app_store.jpg" alt="" />
                    <img src="../static/play_store.jpg" alt="" />
                </div>
            </div>

            <div>
                <div style="display: flex; justify-content: center;"><b>Follow us</b></div>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>

        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <p>&#169; <a href="/">Value Mart</a></p>
        </div>
    </div>
</footer>