{% extends "base.html" %}

{% block title %}
Grocery Store - Home
{% endblock %}

{% block body %}
<!-- Main Store Body -->
    {% if session['user'] %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <strong>Welcome, {{ session['user'] }}</strong> Hope you have a pleasant experience shopping with us.
        </div>

    {% endif %}
    <div class="container" style="display: flex; align-items: flex-start; justify-content: flex-end;">
      <label for="filterProducts">Filter orders&nbsp;&nbsp;</label>
      <select id="filterProducts" onchange="onFilterProducts()">
        <option value="/shop" {% if filterOption == 'all' %}selected{% endif %}>All</option>
        <option value="/filter/?category=cereals" {% if filterOption == 'cereals' %}selected{% endif %}>Cereals</option>
        <option value="/filter/?category=fresh foods" {% if filterOption == 'fresh_foods' %}selected{% endif %}>Fresh foods</option>
        <option value="/filter/?category=snacks" {% if filterOption == 'snacks' %}selected{% endif %}>Snacks</option>
        <option value="/filter/?category=frozen" {% if filterOption == 'frozen' %}selected{% endif %}>Frozen</option>
      </select>
    </div>
      <div class="row" id="productCard">
      {% for i in range(productsLen) %}
          <div class="col-sm">
              <div class="card text-center">
                  <div class="card-body">
                    <form action="/buy/" methods="POST">
                        <h5 class="card-title">{{products[i]["category"].capitalize()}}</h5>
                      <img src="/static/img/{{products[i]["product_image"]}}" class="product" alt="" />
                      <h5 class="card-text">{{products[i]["product_name"]}}</h5>
                      {% if products[i]["onSale"] %}
                        <img src="/static/img/sale-icon.png" width="26px" />
                        <h4 class="card-text price" style="color:red; display:inline">{{ '{:,.2f}'.format(products[i]["onSalePrice"]) }}</h4>
                      {% else %}
                        <h4 class="card-text price">{{ '{:,.2f}'.format(products[i]["price"]) }}</h4>
                      {% endif %}
                      <div class="stepper-input">
                          <span class="decrement target">-</span>
                          <input class="quantity" name="quantity" value='0' />
                          <span class="increment target">+</span>
                      </div>
                      <input type="hidden" name="id" value="{{products[i]["product_id"]}}" />
                      {% if not session %}
                      <input type="hidden" name="loggedin" value="0" />
                      {% else %}
                      <input type="hidden" name="loggedin" value="1" />

                      {% endif %}
                      <input type="hidden" name="buyFilterOption" value="" />
                      <input type="submit" class="btn btn-primary addToCart" value="Add To Cart" /><br /><br />
                      <div class="alert alert-danger flashMessage" style="text-align: center; display:none; font-size:0.9em;"></div>
                    </form>
                  </div>
              </div>
          </div>
      {% endfor %}
      </div>
    </div>
  </main>
  <script>
    function getBuyFilterOption() {
       document.getElementByName("buyFilterOption").value = result = document.getElementById("filterProducts").value;
    }

    function onFilterProducts() {
        // Get the selected option value
        var selectedOption = document.getElementById("filterProducts").value;

        // Redirect to the selected URL
        window.location.href = selectedOption;
    }

    getBuyFilterOption();

  </script>
  </body>

{% endblock %}
