<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

        <title>Online Grocery Store - Log In</title>

    </head>
    <body style="background-color: #e4ddeb;">
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm box-shadow">
          <a href="/" class="d-flex align-items-center" style="color: #400553; font-size: large;">
                <strong><i class="fa  fa-cart-plus"></i>Online Grocery Store</strong>
          </a>
        </nav>
    </header><br />
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm" style="max-width: 300px; margin: 5px; display: flex; flex-direction: column; justify-content: center; right: 35px;">
                    <h3 style="margin: 5px;">Login</h3>
                    <p>{{ msg }}</p>
                    <div style="display: flex; flex-direction: column;">
                        <form action="/logged/" class="form" method="post">
                            <div style="display: flex; flex-direction: column;">
                                <input style="margin: 5px;" type="text" name="username" autofocus placeholder="Username">
                                <input style="margin: 5px;" type="password" name="password" placeholder="Password">
                                <button style="margin: 5px;" type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                        <a href="/register" style="margin: 5px;">
                            <strong><i class="fa  fa-cart-plus"></i>New User! Register here</strong>
                        </a>
                    </div>
                </div>
                <div class="col-sm" style="border-left: 1px solid #285e35;">
                    <div style="position: relative; left: 35px;">
                        <h3>Seamless shopping at your fingertips!</h3><br>
                    </div>
                    <div style="display: flex; justify-content: space-around;">
                        <div style="display: flex; flex-direction: column; width: 400px;">
                            <div style="margin-top: 5px;"><b>* Experience grocery shopping on your terms.</b></div>
                            <div style="margin-top: 5px;"><b>* Order online for seamless delivery or easy pick-up.</b></div>
                            <div style="margin-top: 5px;"><b>* Groceries made simple.</b></div>
                            <img style="margin: 5px;" src="../static/img/grocery9.png" alt="" />
                            <div style="color: brown element; position: absolute; bottom: 250px; width: 100px; right: 520px;"><b>Select from a wide range of products</b></div>
                        </div>
                        <div style="display: flex; flex-direction: column; width: 250px;">
                            <div style="margin: 10px;">
                                <img style="width: 100%;" src="../static/img/grocery2.jpg" alt="" />
                                <div><b>Order online</b></div>
                            </div>
                            <div style="margin: 10px;">
                                <img style="width: 100%;" src="../static/img/grocery3.jpg" alt="" />
                                <div><b>Express delivery</b></div>
                            </div>
                            <div style="margin: 10px;">
                                <img style="width: 100%;" src="../static/img/grocery1.jpg" alt="" />
                                <div><b>Pick-up up from store</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% include "footer.html" %}
</html>
