{% extends "base.html" %}

{% block title %}
Grocery Store - Home
{% endblock %}

{% block body %}
<!-- Main Store Body -->

<div class="container" style="margin-bottom: 50px;">
  <h3>Register new user</h3>
  <form action="/registered/" method="post">
    <div style="display: flex; flex-direction: column; width: 300px;">
      <input style="margin-bottom: 2.5px;" type="text" oninput="checkFields()" name="firstname" placeholder="First Name" required />
      <input style="margin-bottom: 2.5px;" type="text" oninput="checkFields()" name="lastname" placeholder="Last Name" required />
      <input style="margin-bottom: 2.5px;" type="text" oninput="checkFields()" name="emailid" placeholder="Email" required />
      <div style="display: flex; width: 100%; margin-bottom: 2.5px; align-items: center; justify-content: space-between;">
        <label for="dob" style="margin-bottom: 0px;">Date of birth</label>
        <input type="date" id="dob" name="dob" placeholder="Date of birth" required oninput="checkFields()">
      </div>
      <input style="margin-bottom: 2.5px;" type="text" oninput="checkFields()" name="address1" placeholder="Address1" required />
      <input style="margin-bottom: 2.5px;" type="text" oninput="checkFields()" name="address2" placeholder="Address2" required />
      <input style="margin-bottom: 2.5px;" type="password" oninput="checkFields()" name="password" placeholder="Password" required />
      <input style="margin-bottom: 2.5px;" type="password" oninput="checkFields()" name="psw-repeat" placeholder="Verify password" required />
      <div style="display: flex; margin-top: 25px;">
        <button style="margin-right: 5px;" disabled type="submit" id="registerUserButton" class="btn btn-primary" data-dismiss="modal">Register</button>
        <a href="/">
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        </a>
      </div>
    </div>
  </form>
</div>
</main>
<script>
  // Function to check if all input fields are filled
    function checkFields() {
      var inputs = document.querySelectorAll('input[type="text"], input[type="password"], input[type="date"]');

      var registerUserButton = document.getElementById('registerUserButton');

      // Check if all input fields are not empty
      var allFilled = Array.from(inputs).every(function(input) {
          return input.value.trim() !== '';
      });

      // Enable/disable the confirm button based on the result
      registerUserButton.disabled = !allFilled;
    } 

</script>
</body>

{% endblock %}