{% extends "base.html" %}

{% block title %}
Grocery Store - Home
{% endblock %}

{% block body %}
<!-- Main Store Body -->
    <h3>Initiate return</h3>
    <div id="ordersData">
      {% for i in range(ordersLen) %}
        <div class="container" style="margin-bottom: 50px;">
          <div style="display:flex; align-items: center; justify-content: space-between; border: 1px solid #d2d2d2; margin-bottom: 5px;">
            {% for j in range(ordersData[i]["tracking_data"]|length) %}
            <label for="{{ordersData[i]["tracking_data"][j]["status_name"]}}"><b>{{ordersData[i]["tracking_data"][j]["status_name"]}}</b></label>
            {% if j != ordersData[i]["tracking_data"]|length - 1 %}
            <progress style="accent-color: orangered;" id="{{ordersData[i]["tracking_data"][j]["status_name"]}}" value="{{ordersData[i]["tracking_data"][j]["status_value"]}}" max="100">{{ordersData[i]["tracking_data"][j]["status_value"]}}</progress>
            {% endif %}
            {% endfor %}
          </div>
          <form action="/initiate_return" method="GET" id="returnForm">
          <input type="hidden" name="order_id" value="{{ ordersData[i]["order_id"]}}">
          <input type="hidden" name="uid" value="{{uid}}">
          <div class="row">
            <div class="col-sm">
              <div style="display: flex; justify-content: space-between;">
                <table class="table table-sm" style="margin-right: 2.5px; width: 60%; border: 1px solid #d2d2d2">
                  <tbody>
                    {% for j in range(ordersData[i]["orderItems"]|length) %}
                    <tr>
                      <td style="width: 30%;"><img src="/static/img/{{ ordersData[i]["orderItems"][j]["item_img"] }}" style="height: 100px; width: 100px;" /></td>
                      <td style="display: flex; flex-direction: column; align-items: flex-start; padding-left: 100px;">
                          <div><b>{{ordersData[i]["orderItems"][j]["item_name"]}}</b></div>
                          {% if ordersData[i]["orderItems"][j]["item_isreturnable"] %}
                          <input type="hidden" name="item_id_{{ ordersData[i]["orderItems"][j]["item_id"] }}" value="{{ ordersData[i]["orderItems"][j]["item_id"] }}">
                          <input type="hidden" name="item_id_price_{{ ordersData[i]["orderItems"][j]["item_id"] }}" value="{{ ordersData[i]["orderItems"][j]["item_price"] }}">
                          <label for="itemQtySelect" style="margin-bottom: 0px;">Qty:</label>
                          <select id="itemQtySelect" name="item_id_return_qty_{{ ordersData[i]["orderItems"][j]["item_id"] }}" style="height: 36px; min-width: 100px;" class="quantity-dropdown">
                            {% for i in range(ordersData[i]["orderItems"][j]["item_qty"]+1) %}
                              <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                          </select>
                          {% else %}
                          <div><b>Qty: </b>{{ordersData[i]["orderItems"][j]["item_qty"]}}</div>
                          {% endif %}  
                          <div><b>Price: </b>{{'${:,.2f}'.format(ordersData[i]["orderItems"][j]["item_price"])}}</div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <table class="table table-sm" style="margin-left: 2.5px; width: 40%; border: 1px solid #d2d2d2">
                  <tbody>
                    <tr>
                      <td style="display: flex; flex-direction: column; align-items: flex-start;">
                          <div><b>Total price: </b>{{'${:,.2f}'.format(ordersData[i]["order_total"])}}</div>
                          <div><b>Delivery type: </b>{{ordersData[i]["order_delivery_type"]}}</div>
                          <div><b>Payment mode: </b>{{ordersData[i]["order_payment_method"]}}</div>
                          <div><b>Order date: </b>{{ordersData[i]["order_date"]}}</div>
                      </td>
                    </tr>
                    <tr>
                      <td style="display: flex; flex-direction: column; align-items: flex-start;">
                        <div id="refundAmount"><b>Refund amount: $0</b></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: flex-end;">
            <button id="initiateReturnButton" disabled type="submit" class="btn btn-primary" data-dismiss="modal">Initiate return</button>
          </div>
          </form>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("returnForm");

            form.addEventListener("change", function (event) {
                var refundAmount = 0;
                var target = event.target;
                if (target.classList.contains("quantity-dropdown")) {
                  var quantityElements = form.querySelectorAll('.quantity-dropdown');
                  quantityElements.forEach(function (quantityElement) {
                      console.log(quantityElement) 
                      var itemId = quantityElement.name.split("item_id_return_qty_")[1];
                      var itemPrice = parseInt(document.getElementsByName("item_id_price_"+itemId)[0].value)
                      var returnQty = parseInt(quantityElement.value)
                      refundAmount += (itemPrice * returnQty)
                  });
                }
                var resultElement = document.getElementById("refundAmount");
                resultElement.textContent = "Refund amount: $" + refundAmount;
                resultElement.style.fontWeight = "bold";
                var buttonElement = document.getElementById("initiateReturnButton");
                if (refundAmount > 0) {
                  buttonElement.disabled = false;
                } else {
                  buttonElement.disabled = true;
                }
            });

            });
          </script>
        </div>
      {% endfor %}
    </div>
  </main>

{% endblock %}
